@import "tailwindcss";
@import "tw-animate-css";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--background: rgb(255, 255, 255);
	--foreground: rgb(0, 0, 0);
	--card: rgb(255, 255, 255);
	--card-foreground: rgb(0, 0, 0);
	--popover: rgb(255, 255, 255);
	--popover-foreground: rgb(0, 0, 0);
	--primary: hsl(0, 100%, 43%);
	--primary-foreground: rgb(255, 255, 255);
	--secondary: rgb(0, 0, 0);
	--secondary-foreground: rgb(255, 255, 255);
	--muted: rgb(245, 245, 245);
	--muted-foreground: rgb(102, 102, 102);
	--accent: rgb(255, 191, 0);
	--accent-foreground: rgb(0, 0, 0);
	--destructive: rgb(204, 0, 0);
	--destructive-foreground: rgb(255, 255, 255);
	--border: rgb(0, 0, 0);
	--input: rgb(255, 255, 255);
	--ring: rgb(230, 0, 0);
	--chart-1: rgb(0, 0, 0);
	--chart-2: rgb(230, 0, 0);
	--chart-3: rgb(255, 191, 0);
	--chart-4: rgb(71, 107, 71);
	--chart-5: rgb(143, 88, 61);
	--sidebar: rgb(250, 250, 250);
	--sidebar-foreground: rgb(0, 0, 0);
	--sidebar-primary: rgb(230, 0, 0);
	--sidebar-primary-foreground: rgb(255, 255, 255);
	--sidebar-accent: rgb(230, 230, 230);
	--sidebar-accent-foreground: rgb(0, 0, 0);
	--sidebar-border: rgb(0, 0, 0);
	--sidebar-ring: rgb(230, 0, 0);
	--font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-serif: "Georgia", serif;
	--font-mono: "SF Mono", "Courier New", monospace;
	--radius: 0px;
	--shadow-x: 3px;
	--shadow-y: 3px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 1;
	--shadow-color: hsl(0, 0%, 0%);
	--shadow-2xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.5);
	--shadow-xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.5);
	--shadow-sm:
		3px 3px 0px 0px hsl(0 0% 0% / 1), 3px 1px 2px -1px hsl(0 0% 0% / 1);
	--shadow: 3px 3px 0px 0px hsl(0 0% 0% / 1), 3px 1px 2px -1px hsl(0 0% 0% / 1);
	--shadow-md:
		3px 3px 0px 0px hsl(0 0% 0% / 1), 3px 2px 4px -1px hsl(0 0% 0% / 1);
	--shadow-lg:
		3px 3px 0px 0px hsl(0 0% 0% / 1), 3px 4px 6px -1px hsl(0 0% 0% / 1);
	--shadow-xl:
		3px 3px 0px 0px hsl(0 0% 0% / 1), 3px 8px 10px -1px hsl(0 0% 0% / 1);
	--shadow-2xl: 3px 3px 0px 0px hsl(0 0% 0% / 2.5);
	--tracking-normal: -0.02em;
	--spacing: 0.25rem;
}

.dark {
	--background: rgb(0, 0, 0);
	--foreground: rgb(255, 255, 255);
	--card: rgb(10, 10, 10);
	--card-foreground: rgb(255, 255, 255);
	--popover: rgb(10, 10, 10);
	--popover-foreground: rgb(255, 255, 255);
	--primary: rgb(255, 0, 0);
	--primary-foreground: rgb(255, 255, 255);
	--secondary: rgb(255, 255, 255);
	--secondary-foreground: rgb(0, 0, 0);
	--muted: rgb(31, 31, 31);
	--muted-foreground: rgb(179, 179, 179);
	--accent: rgb(255, 198, 26);
	--accent-foreground: rgb(0, 0, 0);
	--destructive: rgb(255, 51, 51);
	--destructive-foreground: rgb(255, 255, 255);
	--border: rgb(255, 255, 255);
	--input: rgb(0, 0, 0);
	--ring: rgb(255, 0, 0);
	--chart-1: rgb(255, 255, 255);
	--chart-2: rgb(255, 0, 0);
	--chart-3: rgb(255, 198, 26);
	--chart-4: rgb(98, 132, 98);
	--chart-5: rgb(166, 115, 89);
	--sidebar: rgb(5, 5, 5);
	--sidebar-foreground: rgb(255, 255, 255);
	--sidebar-primary: rgb(255, 0, 0);
	--sidebar-primary-foreground: rgb(255, 255, 255);
	--sidebar-accent: rgb(38, 38, 38);
	--sidebar-accent-foreground: rgb(255, 255, 255);
	--sidebar-border: rgb(255, 255, 255);
	--sidebar-ring: rgb(255, 0, 0);
	--font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-serif: "Georgia", serif;
	--font-mono: "SF Mono", "Courier New", monospace;
	--radius: 0px;
	--shadow-x: 3px;
	--shadow-y: 3px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 1;
	--shadow-color: hsl(0, 0%, 100%);
	--shadow-2xs: 3px 3px 0px 0px hsl(0 0% 100% / 0.5);
	--shadow-xs: 3px 3px 0px 0px hsl(0 0% 100% / 0.5);
	--shadow-sm:
		3px 3px 0px 0px hsl(0 0% 100% / 1), 3px 1px 2px -1px hsl(0 0% 100% / 1);
	--shadow:
		3px 3px 0px 0px hsl(0 0% 100% / 1), 3px 1px 2px -1px hsl(0 0% 100% / 1);
	--shadow-md:
		3px 3px 0px 0px hsl(0 0% 100% / 1), 3px 2px 4px -1px hsl(0 0% 100% / 1);
	--shadow-lg:
		3px 3px 0px 0px hsl(0 0% 100% / 1), 3px 4px 6px -1px hsl(0 0% 100% / 1);
	--shadow-xl:
		3px 3px 0px 0px hsl(0 0% 100% / 1), 3px 8px 10px -1px hsl(0 0% 100% / 1);
	--shadow-2xl: 3px 3px 0px 0px hsl(0 0% 100% / 2.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}
}
